<script setup>
defineProps({
    type: {
        type: String,
        default: 'submit',
    },
});
</script>

<template>
    <button :type="type" class="text-rose-50 hover:text-white font-bold bg-rose-400 hover:bg-rose-500 rounded-lg text-sm px-5 py-2.5 mr-2 mt-2">
        <slot />
    </button>
</template>
