<script setup>
defineProps(['value']);
</script>

<template>
    <label class=" text-cyan-800 font-bold">
        <span v-if="value">{{ value }}</span>
        <span v-else><slot /></span>
    </label>
</template>
