<script setup>
import { useForm } from "@inertiajs/inertia-vue3";
import BreezeGuestLayout from '@/Layouts/Videos.vue';
import BreezeButton from '@/Components/Button.vue';
import BreezeInput from '@/Components/Input.vue';
import BreezeLabel from '@/Components/Label.vue';
defineProps({
  id: String,
  titulo: String,
  descripcion: String,
  thum: String,
  link: String,
});

var img ="";  
const onFileChange = (e) => {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length)
        return;
      createImage(files[0]);
};
const createImage = (file) => {
      var image = new Image();
      var reader = new FileReader();
      //var vm = file;

      reader.onload = (e) => {
        img = e.target.result;
        document.getElementById("cambiarIm").src = img;
        document.getElementById("thum").value = img;
      };
      reader.readAsDataURL(file);
    };
</script>
<template>
<BreezeGuestLayout>
  <div class="text-center">
     <h4 class="text-cyan-800 font-bold text-2xl mb-4">Editar video</h4>
  </div>
  <form @submit.prevent="update">
    <div>
      <BreezeLabel for="titulo" value="Titulo" />
      <BreezeInput id="titulo" type="text" class="mt-1 block w-full" v-model="video.titulo" required autofocus ="name" />
    </div>

    <div>
      <BreezeLabel for="descripcion" value="Descripcion" />
      <BreezeInput id="descripcion" type="text" class="mt-1 block w-full" v-model="video.descripcion" required autofocus="name" />
    </div>

    <div>
        <BreezeLabel for="link" value="Link" />
        <BreezeInput id="link" type="text" class="mt-1 block w-full" v-model="video.link" required autofocus="name" />
    </div>
                <div class="flex justify-center mt-4">
                    <BreezeLabel for="thum" value="Imagen"  class="block text-xl my-2"/>
                </div>
                <div class="flex justify-between mt-4">
                <input type="file" id="myfile" @change="onFileChange"  class="mt-1 w-1/3 ">
                <BreezeInput id="thum" type="text" class="mt-1 w-1/2 " v-model="video.thum" required autofocus="name" disabled/>
                </div>
                <div class="flex justify-center mt-4">
                    <img :src="img" id="cambiarIm" class="w-80"/>
                </div>

    <BreezeButton class="ml-4"> Editar</BreezeButton>

  </form>
  </BreezeGuestLayout>
</template>

<script>
export default {
  name: "update-video",
  data() {
    return {
      video: {
        titulo: "",
        descripcion: "",
        thum: "",
        link: "",
        _method: "patch",
      },
    };
  },
  mounted() {
    this.showVideo();
  },
  methods: {
    showVideo() {
      this.video.titulo = this.titulo;
      this.video.descripcion = this.descripcion;
      this.video.thum = this.thum;
      this.video.link = this.link;
    },
    update() {
      const form = useForm({
        id: this.id,
        titulo: this.video.titulo,
        descripcion: this.video.descripcion,
        thum: document.getElementById("cambiarIm").src,
        link: this.video.link,
      });
      form.post(route("actualizar"));
    },
  },
};
</script>