<script setup>
import { Link } from '@inertiajs/inertia-vue3';
</script>

<template>
    <div class="min-h-screen flex flex-col sm:justify-center items-center bg-gradient-to-r from-violet-700 via-rose-400 to-yellow-300">
        <div class="w-10/12 px-6 py-4 bg-rose-100 drop-shadow-[0px_0px_35px_rgba(0,250,250,0.5)] sm:rounded-xl">
            <slot />
        </div>
    </div>
</template>